<div class="row m-4">

    <duv class="card">
        <div class="card-body">
            <div> Мені 21 рік.</div>
            <em>День Народження: <b>08.11.2001</b></em>
            <p>Живу в місті <b>Мукачево</b>, Закарпатської області, село <b>Горонда</b>.</p>
            <div> Закінчила - <strong>Львівський національний університет ім.Івана Франка.</strong></div>
            <div>Факультет: <b>Економічний</b> </div>
            <div>Спеціальність: <b>Менеджмент</b> </div>
        </div>
    </duv>

    <div class="col-1">
        <button class="btn btn-primary mt-2">
            <a href="/skills" class="nav-link">Skills</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/summary" class="nav-link">Summary</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/web" class="nav-link">Web</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/person" class="nav-link">Person</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/program" class="nav-link">Program</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/education" class="nav-link">Education</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/bio" class="nav-link">Bio</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/work" class="nav-link">Work</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/js" class="nav-link">JS</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/car" class="nav-link">Car</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/mac" class="nav-link">Mac</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/facebook" class="nav-link">Facebook</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/task21" class="nav-link">Task21</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/task22" class="nav-link">Task22</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/task31" class="nav-link">Task31</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/shophome" class="nav-link">Shophome</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/shoporder" class="nav-link">Shoporder</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/shopcart" class="nav-link">Shopcart</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/shopprofile" class="nav-link">Shopprofile</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/shopreview" class="nav-link">Shopreview</a>
        </button>

        <button class="btn btn-primary mt-2">
            <a href="/shopcatalog" class="nav-link">Shopcatalog</a>
        </button>
    </div>

</div>