<div>
    <main>
        <div class="card">
            {{#with navigation}}
            <div class="nav">
                <div class="nav-item">
                    <div class="row">
                        {{#each links}}
                        <div class="col">
                            <a href="{{href}}" class="nav-link">
                                {{text}}
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
        <br>
        <br>

        <br>
        <hr>
        <div class="row">
            {{#each footer}}
            <div class="nav col-2">
                <div>
                    {{#each this}}
                    <div>
                        <a class="nav-link {{#if @last}}disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </main>
</div>