{{#with navigation}}
<div class="nav">
    <div class="nav-item">
        <div class="row">
            {{#each links}}
            <div class="col">
                <a href="{{href}}" class="nav-link">
                    {{text}}
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/with}}